asgiref==3.3.4
blis==0.4.1
catalogue==1.0.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cymem==2.0.5
fastapi==0.65.2
h11==0.12.0
idna==2.10
murmurhash==1.0.5
numpy==1.22.0
plac==1.1.3
preshed==3.0.5
pydantic==1.8.2
requests==2.25.1
spacy==2.3.0
srsly==1.0.5
starlette==0.14.2
thinc==7.4.1
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
wasabi==0.8.2
