asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
fastapi==0.66.0
filelock==3.0.12
germansentiment==1.0.6
h11==0.12.0
huggingface-hub==0.0.12
idna==2.10
joblib==1.0.1
numpy==1.21.0
packaging==21.0
pydantic==1.8.2
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
sacremoses==0.0.45
six==1.16.0
starlette==0.14.2
tokenizers==0.10.3
torch==1.9.0
tqdm==4.61.2
transformers==4.8.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
