/lemma-de-all-tiger.properties
/lemma-default-variants.map
/lemma-la-cap-all.properties
/pos-de-hucompute-tiger.properties
/pos-de-pretrained.properties
/pos-de-tgermacorp.properties
/pos-la-hucompute-capitularies.properties
